/* body {
  font-family: helvetica, arial, sans-serif;
  height: 100vh;
  width: 100vw;
} */

/* #container {
  position: absolute;
} */

/* #containerheader {
  width: 100%;
  height: 30px;
  background-color: burlywood;
} */

/* input {
  font-size: 15px;
  font-family: "Inter-Medium", sans-serif;
} */
